<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Band Tracker</title>
  </head>
  <body>
    <h1> Add a band</h1>
    <form action = "/bands/add" method = "post">
      <label for = "band_name">Band Name</label>
      <input name = "band_name" type = "text">
      <button type = "submit" name = "button">Add Band</button>
      <a href = "/">Back to main</a>

  </body>
</html>
