<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Band Tracker</title>
  </head>
  <body>
    <h1> Add a venue</h1>
    <form action = "/venues/add" method = "post">
      <label for = "venue_name">Venue Name</label>
      <input name = "venue_name" type = "text">
      <button type = "submit" name = "button">Add Venue</button>
      <a href = "/">Back to main</a>

  </body>
</html>
